@use "../../styles/_typography" as *;

.hero-section {
  background-color: #fa7453;
  width: 375px;
  height: 546px;
  position: relative;
  z-index: 2;
  bottom: 13.5rem;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .hero-title {
    font-family: IBM Plex Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    color: #fcfaf9;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .hero-paragraph {
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #fcfaf9;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -.75rem;
  }

  .hero-price {
    font-family: IBM Plex Sans;
    color: #fcfaf9;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    margin-left: 3rem;

    .hero-price-bold {
      font-family: IBM Plex Sans;
      font-size: 65px;
      font-weight: 700;
      line-height: 52px;
      letter-spacing: 0px;
      text-align: left;
    }
  }

  .hero-buttons {
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;

    margin-left: 2.5rem;

    .download-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 61px;
      width: 296px;
      padding: 1rem 2rem;
      margin-bottom: 1rem;
      border: none;
      border-radius: 0.5rem;
      color: #fcfaf9;
      font-family: IBM Plex Sans;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;

      .button-icon {
        margin-right: 0.5rem;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: #1c1c1c;
      }

      &.ios {
        background-color: #191826;
        &:hover {
          background-color: #66E2DC;
        }
      }

      &.android {
        background-color: #FCFAF9;
        color: #2a2a2a;
        &:hover {
          background-color: #FFB964;
          
        }
      }
    }
  }
}
