@use "../../styles/_typography" as *;

.footer {
  width: 100vw;
  height: 8rem;
  display: flex;
  flex-direction: column;
  z-index: 1;

  .footer-logo {
    width: 146.09px;
    height: 32px;
    margin-left: 1.5rem;
    margin-top: -10rem;
  }
  .footer-paragraph {
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #333;
    margin-left: 1.2rem;
    margin-right: 1.2rem;

    a {
      font-weight: 700;
      color: #333;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .footer-icon-section {
    display: flex;
    flex-direction: row;
    margin-left: .5rem;

    img {
      margin: .5rem;
      transition: color 0.3s;
         &:hover {
        filter: invert(44%) sepia(92%) saturate(2037%) hue-rotate(341deg) brightness(102%) contrast(88%); // #FA7453 color effect
      }
    }
  }
}
