@use "../../styles/mixins" as *;

.middle-section {
  height: 600px;
  background-color: #191826;
  border-radius: 3%;
  position: relative;
  @include Tablet {
    width: 696px;
    height: 600px;
    margin-left: 4.2rem;
  }
  .middle-section-image {
    width: 280px;
    height: 420px;
    margin-left: 3rem;
    position: absolute;
    @include Tablet {
      margin-left: 14.5rem;
      width: 320px;
      height: 500px;
      margin-top: -3.5rem;
    }
  }
  .middle-section-phone {
    width: 208.97px;
    height: 430px;
    position: absolute;
    top: -90px;
    left: 5rem;
    z-index: 1;

    @include Tablet {
      width: 270.21px;
      height: 556px;
      margin-top: -4rem;
    }
  }
}
